doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/style.min.css")
        link(rel="shortcut icon" href="images/favicon.ico" type="image.png")

    body
        .wrapper
            .content
                header.header(style="background-image: url(images/header-bg.jpg);")
                    nav.menu
                        ul.menu__list
                            li.menu__list-item
                                a.menu__list-link.active(href="#") 1 cезон
                            li.menu__list-item
                                a.menu__list-link(href="#") 2 cезон
                            li.menu__list-item
                                a.menu__list-link(href="#") 3 cезон
                            li.menu__list-item
                                a.menu__list-link(href="#") 4 cезон
                            li.menu__list-item
                                a.menu__list-link(href="#") 5 cезон
                            li.menu__list-item
                                a.menu__list-link(href="#") 6 cезон

                    .logo
                        img.logo__img(src="images/logo.png" alt="logo")
                section.about.section-page
                    .container
                        h3.title О сериале
                        .about__inner
                            ul.about__info
                                li.about__info-item Жанр 
                                    span Историческая драма

                                li.about__info-item Сезонов 
                                    span 6
                                li.about__info-item Длительность серии 
                                    span 45 минут

                                li.about__info-item На экранах
                                    span С 3 марта 2013 по сей день

                            .about__text
                                p Викинги – шикарный исторический сериал, один из лучших в своем жанре, шоу может похвастаться огромной фан-базой, а также тем, что пробудил интерес к истории и возродил моду на викингов.

                                p «Викинги» созданы по заказу канала американского канала History, однако работали над ним канадцы и ирландцы. Сериал поражает масштабными сценами сражений, добротным и глубоким сценарием, а также максимальным вниманием к исторической эпохи. Авторы сериала потратили кучу времени и денег (бюджет первого сезона - $40 млн, дальше суммы возросли) на то, чтобы викинги и их современники выглядели в шоу так, какими они был в свое время – VIII – IX веках нашей эры. С другой стороны – отсутствие точных исторических фактов и (полу)легендарность многих событий позволили авторам сериала вольную трактовку многих событий.
                section.video(style="background-image: url(images/video-bg.jpg);")
                    .container
                        h3.video__text
                            span The Storm 
                            | Is Coming...
                        a.video__btn(data-fancybox href="https://youtu.be/bmVKaAV_7-A") Посмотреть трейлер сериала
                section.seasons.section-page
                    .container
                        h3.title Все сезоны
                        ol.seasons__inner
                            li.seasons__item(style="background-image: url(images/seasons-1.jpg);")
                                a.seasons__link(href="#") Cмотреть
                            li.seasons__item(style="background-image: url(images/seasons-2.jpg);")
                                a.seasons__link(href="#") Cмотреть
                            li.seasons__item(style="background-image: url(images/seasons-3.jpg);")
                                a.seasons__link(href="#") Cмотреть
                            li.seasons__item(style="background-image: url(images/seasons-4.jpg);")
                                a.seasons__link(href="#") Cмотреть
                            li.seasons__item(style="background-image: url(images/seasons-5.jpg);")
                                a.seasons__link(href="#") Cмотреть
                            li.seasons__item(style="background-image: url(images/seasons-6.jpg);")
                                a.seasons__link(href="#") Cмотреть
                section.heroes.section-page
                    .container
                        h3.title Главные герои
                        .heroes__inner
                            .heroes__slider-img
                                img.heroes__images(src="images/hero-1.jpg" alt="")
                                img.heroes__images(src="images/hero-1.jpg" alt="")
                                img.heroes__images(src="images/hero-1.jpg" alt="")
                            .heroes__slider-text
                                .heroes__text
                                    h4.heroes__name Рагнар
                                    p Рагна́р Лодбро́к (др.-сканд. Ragnarr Loðbrók) - полулегендарный скандинавский конунг из рода Инглингов, ключевой персонаж сериала.

                                    p Умелый воин и амбициозный вождь, Рагнар на протяжении почти всей своей жизни следует пути викинга. Рассекая море в поисках боевой славы и наживы, он стремится обрести новые знания, открыть неизвестные земли и изменить нелегкую судьбу своего народа, живущего в суровых условиях Скандинавского полуострова
                                .heroes__text
                                    h4.heroes__name Рагнар 2
                                    p Рагна́р Лодбро́к (др.-сканд. Ragnarr Loðbrók) - полулегендарный скандинавский конунг из рода Инглингов, ключевой персонаж сериала.

                                    p Умелый воин и амбициозный вождь, Рагнар на протяжении почти всей своей жизни следует пути викинга. Рассекая море в поисках боевой славы и наживы, он стремится обрести новые знания, открыть неизвестные земли и изменить нелегкую судьбу своего народа, живущего в суровых условиях Скандинавского полуострова
                                .heroes__text
                                    h4.heroes__name Рагнар 3
                                    p Рагна́р Лодбро́к (др.-сканд. Ragnarr Loðbrók) - полулегендарный скандинавский конунг из рода Инглингов, ключевой персонаж сериала.

                                    p Умелый воин и амбициозный вождь, Рагнар на протяжении почти всей своей жизни следует пути викинга. Рассекая море в поисках боевой славы и наживы, он стремится обрести новые знания, открыть неизвестные земли и изменить нелегкую судьбу своего народа, живущего в суровых условиях Скандинавского полуострова

            .footer
        script(src="js/jquery.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")